*{
  box-sizing: border-box;     /*보더까지 포함한 영역을 사이즈로 설정 */
}
                                           /**/
body {
  margin: 0 auto;
  color: rgb(78, 80, 81);
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';   /*글꼴*/
}

a {
  all:unset;    /*전체 태그중에 a태그 리셋 (밑줄, 링크파란색 사라짐 등..) 가상클래스는 재설정 x*/
}

a:link {
  text-decoration: none;        /*전체 태그중에 a태그 리셋 (가상클래스 재설정)*/
  color: rgb(78, 80, 81);     /*기본설정*/
}

a:visited {                     /*방문 했을 때*/
  text-decoration: none;        /*기본설정*/
  color: rgb(78, 80, 81);
}

a:active {                      /*클릭 했을 때*/
  text-decoration: none;        /*기본설정*/
  color: rgb(78, 80, 81);
}

a:hover {                       /*마우스 올렸을 때*/
  text-decoration: none;        /*기본설정*/
  color: rgb(78, 80, 81);
}

.inner {
  width: 100%;           /*가운데 정렬 기본세팅*/
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;   /*상단 양사이드글 벽에서 띄우기*/
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  position: fixed;                             /*스크롤 처리 불가하게 고정*/
  top: 0;
  left: 0;
  z-index: 1000;       /*header를 다른 컨텐츠 보다 위에 표시*/
}

.head-container {
  width: 100%;
  height: 100%;
  display: flex;     /*수평정렬 하기 위함*/
  justify-content: space-between;    /*양쪽 끝으로 정렬*/
  align-items: center;     /*head-contailner 글자 박스안 수직 중앙 맞춤*/
}

.head-container .head-brand {     
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-blog {
  font-weight: bold;
  font-size: 1.2rem;
}

.head-container .head-brand a:hover {
  color: rgb(68, 67, 65);
  cursor: pointer;
}

.head-container .head-blog a:hover {
  color: rgb(159, 232, 146);
  cursor: pointer;
}

section {                        /*기본 설정*/
  width: 100%;
  background-color: white;
  position: relative;
}

.main {
  height: 400px;                /*메인 이미지 높이*/
  background-image: url("/img/main.png");       
  background-size: cover;           /*해당 이미지가 섹션의 가로 크기만큼 꽉 채워서 그려주라는 의미 */
  background-position: center 60%;    /*가운데 맞춤*/
  background-repeat: no-repeat;
  z-index: 1;
  margin-top: 60px;        /* 헤터 height가 60이기 때문에 배경 이미지부터 시작하려면 위부터 60줘야함*/
  
}

.main-container {    /*배경 img를 덮기 위해서*/
  width: 100%;
  height: 100%;
  background-color: rgb(184, 150, 150);
  opacity: 0.8;      /*투명도*/
  z-index: 2;
}

.title-container {
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding-bottom: 0.8rem;
}

.message {
  font-size: 0.7rem;
  font-weight: normal;
  color: rgb(255, 255, 255);
  line-height: 2rem;
}

.news {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.skill-container {
  width: 100%;
  height: 100%;
  display: flex;                     /*가로로*/
  justify-content: space-around;     /*가로 컨텐츠 균등하게 나열*/
  align-items: center;      /*수직정렬*/
  padding: 1rem 0;
}

.skill {
  width: 25%;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 9px;     /*각진곳을 둥그스름하게*/
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  cursor: pointer;
  box-shadow: 10px 10px 10px -5px rgba(35, 42, 70, 0.2);
  transition: 0.6s;
}

.skill:hover {
  transform: translate(0, 5px);
}

.skill-icon {
  font-size: 2.5rem;      /*폰트 사이즈 크기*/
  margin: 0 10px;
}  

.skill-title {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.skill-name {
  font-weight: bold;
  color: #545e6f;
  margin-bottom: 0.2rem;
}

.skill-usage {
  font-size: 0.8rem;
  color: #545e6f;
}

.js-style {
  color: #2e4b56;
}
/* ----------------------------------------------------------------------------------------- */
.roadmap-container {
  width: 100%;
  margin-top: 2rem;
}

.roadmap-title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;             /*양쪽 싸이드로 위치 글자*/
  align-items: center;
}

.roadmap-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #545e6f;
}

.slide-prev {
  font-size: 1.7rem;
  cursor: pointer;
  color: #4a4a54;
}

.slide-next {
  font-size: 1.7rem;
  cursor: pointer;
  margin-left: 1px;
  color: #f2f3f5;
}

.slide-prev-hover:hover {
  transition: transform 0.4s;
  transform: translateX(-2px);
}

.slide-next-hover:hover {
  transition: transform 0.5s;
  transform: translateX(3px);
} 

.arrow-container {
  display: flex;          /*좌우 버튼 가까워짐*/
}

.class-list {
  display: flex;    /*클래스 내부 항목들 수평 정렬*/
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  overflow: none;      /*overflow를 hidden으로 설정하면 transform시 이미지 짤림*/

}

.class-card {
  width: 240px;
  box-shadow: 10px 10px 10px -5px rgba(35, 42, 70, 0.2);  /*블럭에 그림자를 적용하는 기능 */
  border-radius: 8px;  /*반지름*/
  margin: 0 10px;
  transition: 0.7s;
  flex-shrink: 0;
}

.class-card:hover {
  transform: translate(0, 3px);
  box-shadow: 10px 10px 10px 0px rgba(35, 42, 70, 0.2);
}

.class-image {
  max-width: 240px;
  border-radius: 8px 8px 0 0;  /*이미지 상단 왼쪽부터 깍임*/      
}

.class-container {
  width: 100%;
  padding: 0.5rem 1rem 0.6rem 1rem;
}

.class-skill {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 30px;
}

.class-type {
  font-size: 0.8rem;
  color: #78859c;
}

.class-format {
  font-size: 0.8rem;
  color: #78859c;
}

.class-desc {
  width: 100;
  margin-top: 0.4rem;
  color: #696d74;
}

.class-desc:hover {
  color: #192a30;
}

.class-title {
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  font-size: 0.8rem;
}

.class-detail {
  font-size: 0.7rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem;
}

.roadmap-desc {
  display: visual;
}

li a:hover {
  cursor: pointer;
}

footer {
  border-top: 1px solid #696d74;
  background-color: #f5f5f5;
  padding: 1rem 0;
  margin: 1rem 0;
}

.footer-message{
  font-size: 0.6rem;
  color:#545e6f;
  margin-bottom: 0.5rem;
}

.footer-contact{
  font-size: 0.6rem;
  color:#545e6f;
  margin-bottom: 0.5rem;
}

.footer-copyright{
  font-size: 0.6rem;
  color:#545e6f;
  margin-bottom: 0.2rem;
}

#backtotop.show:hover {
  cursor: pointer;
  background-color: rgb(141, 140, 140);
}


#backtotop {
  background-color: rgb(47, 48, 89);
  width: 40px;
  height: 40px;
  text-align:center;

  border-radius: 20px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition-property: background-color, opacity, visibility;
  transition-duration: 0.3s, 0.5s, 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

#backtotop::after {                   /*::after (요소 뒤에 content 추가) 가상 요소에서,*/
  content: "\f077";                   /*content: "폰트어썸 유니코드"를 넣고*/
  font-family: FontAwesome;           /*font-family: FontAwesome 이라고 넣으면 됨*/ 
  font-size: 1.5rem;
  line-height: 40px;
  color: white;
}

#backtotop.show {
  opacity: 1;
  visibility: visible;
  background-color: rgb(63, 88, 104);
}
/* drag 할 수 있는 아이템임을 나타내는 표시를 포인터로 변경 */
ul li img:hover {         /*마우스 올라가 있는 상태 손모양*/
  cursor: grab;          /*ie11에서 지원x*/
}
/* dragging 중인  상태에서 잡는 표시를 포인터로 변경함 */
ul li img:active {        /*클릭된 상태 잡는 모양*/
  cursor: grabbing;      /*ie11에서 지원x*/
}

@media only screen and (min-width: 1200px) {   /*줄렸을때 최소 1200px유지(반응형)*/
  .inner {
    max-width: 1200px;  /*페이지 늘렸을때 최대 1200px유지(반응형)*/
  }
}

@media only screen and (max-width: 850px) {    /*skill-container 850이하로 줄여지면 자동 없어짐*/
  .skill-container {
    display: none;
  }
  .roadmap-desc {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.8rem;
  }
  .message {
    font-size: 1.4rem;
    font-weight: normal;
    color: #fff;
    line-height: 2rem;
  }
  .class-skill {
    display: none;
  }
  .class-container {
    padding: 0.5rem;
  }
  .class-desc {
    margin-top: 0rem;
  }
}